.main {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.question-nav {
  background: #e5f6fd;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  height: 61vh;
  overflow-y: auto;
}
.question-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.choose-q {
  color: #0a0b0b;
  font-size: 15px;
  font-weight: 600;
}
.qno {
  color: #252525;
  font-size: 16px;
  border-bottom: 1px solid #d1d1d1;
}
.question {
  background-color: #fff;
  border: solid 2px #d1d1d1;
  height: 100%;
}
.question-content {
  padding: 10px;
}
.question-text {
  line-height: 1.6;
}
.btn-section {
  display: flex;
  justify-content: space-between;
  bottom: 0px;
}

.left-btn {
  display: flex;
}
.left-btn button {
  font-size: 12px;
  background-color: #fff;
  border: solid 1px #d0d0d0;
  color: #3e3e3e;
  font-weight: 600;

  padding: 8px 10px;
  width: 170px;
}
.left-btn button:hover {
  background-color: #0a7cd5;
  color: #fff;
}
.right {
  margin-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-btn button {
  font-size: 12px;
  background-color: #0a7cd5;
  border: solid 1px #56a7e4;
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
  padding: 8px 10px;
  width: 110px;
}
.right-btn button:hover {
  border: solid 1.5px black;
}

.q-section {
  background-color: rgb(22, 138, 233);
  padding: 8px 10px;
  color: white;
  font-weight: 800;
  margin: 0px;
}
.bd-box {
  border: solid 2px black;
}

.question-detail {
  padding: 8px 14px;
}
.user-detail {
  padding: 6px;
}
.nav-sec {
  background-color: #e5f6fd;
  padding: 10px;
}
.timer {
  text-align: end;
  font-size: 14px;
}
.lang {
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: bolder;
  padding: 10px;
  background-color: #0a7cd5;
}

select {
  height: 25px;
  width: 100px;
}
.submit-btn {
  font-size: 12px;
  background-color: #0a7cd5;
  border: solid 1px #56a7e4;
  color: #fff;
  font-weight: 600;
  border-radius: 3px;
  padding: 8px 10px;
  width: 110px;
}
.submit-sec {
  background-color: #e5f6fd;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-section {
  border: solid 1px #ddd;
  margin: 0;
  padding: 9px;
}
